@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-sand-light text-gray-800 font-sans dark:bg-gray-900 dark:text-gray-200;
}

.prose blockquote {
  border-left: 4px solid #b5d1e7;
  background: #e9f3fb;
  @apply dark:bg-gray-800 dark:border-spiritualBlue-dark;
}
